# AI tools
.claude/
CLAUDE.md

.DS_Store

target

# go binary
finmedia/bin  
finmedia/finmedia

# FinBERT conversion python venv
venv/
# ONNX & json FinBERT related files
finbert_tokenizer/
finbert_config.json
FinBERT_tone_int8.ONNX
FinBert_tone.ONNX

# database config
.env

#benchmark results
benchmark_report*
